body {
  background: #fff;
	font-family: "proxima-nova-soft", sans-serif !important;
  a {
		text-decoration: underline !important;
	}
}

[href="#main"] {
    position: absolute;
    top: -100px;
    right: 0.5em;
    color: #fff;
    font-size: 0.85em;
}

i.red { color: red }
i.green { color: green }
i.green { color: orange }

[href="#main"]:focus {
    top: 0.5em;
}

#lpckLagWarningOverlay {
  display: none;
}

@media print {
  h1, .waar, #feedback, #vorige-volgende {
    display: none !important;
  }
}

form#search {
  input[type=text] {
    padding: 1em;
    display: inline-block;
    width: 80%;
    border-radius: 4px;
    background: #eee;
    margin: 0 10px 0 0;
  }
  input[type=submit] {
    display: inline-block;
    width: 17%;
    padding: 1em !important;
    border: 1px solid black;
    border-radius: 4px;
  }
}

ul.horizontaal {
  margin: 0;
  padding: 0;
  text-indent: 0;
  li {
    margin: 0; padding: 0;
    display: inline-block;
    vertical-align: middle;
    height: 3.5em;
  }
}

.infografiek-alternatief {
  width: 600px;
  background: #eee;
  padding: 1em;
  caption {
    font-weight: normal;
  }
  details {
    background: #fff;
    summary {
      text-decoration: underline;
      color: blue;
    }
    ul {
      margin-top: .75em;
      font-weight: normal;
      font-size: 80%;
    }
    border: 1px solid #ddd;
    padding: .5em 1em;
    margin: 0 0 1em 0;
  }
  caption {
    text-align: left;
    width: 600px;
  }
  thead {
    width: 100%;
  }
}

/* Fix voor voorbeeldjes over focus */
nav:focus {
  outline: none;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}

th {
	text-align: left !important;
}

nav#filters {
  border: 1px solid gray;
  padding: 1em;
}

li a {
  text-decoration: underline !important;
  &:hover, &:active {
    text-decoration: none !important;
  }
}

#vorige-volgende {
	ul {
		display: block;
		height: 8em;
		position: relative;
		margin: 0; padding: 0;
		list-style: none;
		background: #444;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		li {
			height: 8em;
			display: block;
			padding: 1.5em;
			a {
				color: white;
				display: block;
				text-decoration: none !important;
				span:nth-child(1) {
					font-size: 130%;
					display: block;
					text-decoration: underline;
				}
				span:nth-child(2) {
					display: block;
					font-size: 90%;
				}
			}
			&.vorige {
				width: 45%;
				text-align: left;
				position: absolute;
				top: 0; left: 0;
			}
			&.volgende {
				width: 35%;
				text-align: right;
				position: absolute;
				top: 0; right: 0;
			}
		}
	}
}

nav#filters {
  display: none;
  background: #eee;
  color: white;
  border: 2px dotted #aaa;
  padding: 1.5em 2em 1.25em 2em;
  margin: 0 0 2em 0;
  box-shadow: 0 0 25px #eee;
  input[type=checkbox] {
    display: inline-block;
    margin: 1em 0.25em 0 0;
  }
  label {
    display: block;
  }
}

/*  Richtlijn detail */

p.waar {
  border: 1px solid #aaa;
  border-left: none;
  border-right: none;
  padding: .45em 0;
  font-size: 80%;
}


/*  Verschillende statuusen */

#richtlijnen {
  ol { counter-reset: item; }
  li { display: block }
  li:before {
    content: counters(item, ".");
    counter-increment: item;
    position: absolute;
    top: .05em;
    text-align: left;
    background: white;
    padding: 0 .5em;
    left: 0;
    font-family: Monaco, monospace;
    font-weight: bold;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.2);
  }
  ol.lijst > li:before, ol.subcategorie > li:before { content: "" }
}

ol.checklist {
  margin: 0; padding: 0;
  text-indent: 0;
  h2 {
    clear: both;
    text-align: center;
    display: none;
    display: block !important;
    padding: 1em 0 .15em 0;
    margin: 2em 0 .5em 0;
    border-radius: 4px;
  }
  li.categorie {
    clear: both;
    width: 100%;
    section {
      h2 {
        text-align: center;
      }
    }
  }
}

ol.sub-container {
  margin: 0; padding: 0;
  width: 100%;
  clear: both;
  li.sub {
    background: #eee;
    border-radius: 4px;
    box-shadow: 2px 2px 0 1px rgba(0, 0, 0, 0.2);
    margin-right: 1.25em;
    margin-bottom: 1.25em;
    &:nth-child(even) {
      margin-right: 0;
    }
    font-weight: normal;
    width: 48%;
    h3 {
      padding: .5em 1em .5em 1em;
      text-align: center;
      font-size: 20px;
      background: #333;
      color: white;
      margin: 0 0 .5em 0;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
    float: left;
    ol {
      margin: 0;
      padding: 1.5em;
      li {
        position: relative;
        padding: 0 0 0 4.5em;
        margin: 0 0 1em 0;
        line-height: 1.4em;
        &:hover::before {
          color: white;
          background: black !important;
        }
        a {
          text-decoration: none !important;
          &:hover, &:focus {
            text-decoration: underline !important;
          }
        }
      }
    }
  }
}

h1 {
  border-bottom: none !important;
}

h1:first-of-type + p {
	border: 1px solid #aaa !important;
  border-left: 10px solid #aaa !important;
  border-radius: 4px;
	background: #eee;
	padding: 1em;
}

#richtlijnen li {
  h1, h2, h3 {
    // display: inline-block !important;
  }
}

header {
  h1 {
  	display: block;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

#richtlijnen li {
  &.aan {
    font-weight: normal;
  }
  &.uit {
    opacity: 0.5;
  }
  &.uitzondering {
    // background: red;
  }
}


form {
	input[type=text], textarea {
		padding: .25em;
	}
	fieldset {
		border: none;
		padding: 0;
		margin: 0 0 1.35em 0;
		legend {
			padding: 0;
			font-weight: bold;
			font-size: 1.15em;
			margin: 0 0 .35em 0;
		}
	}
	.block {
		display: block;
		margin: 0 0 .5em 0;
		&.small {
			font-size: 90%;
			margin: 0;
		}
	}
	.inline {
		display: inline-block; margin: 0 1em 0 0;
	}
	.verzenden {
		display: inline;
		margin: 0 0 0 1em;
		font-size: 80%;
	}
	&#feedback {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin: 2em 0 0 0;
		background: #eee;
		padding: 1.5em;
		h3 {
			margin: 0 0 .5em 0;
			padding: 0;
		}
		input[type=submit] {
			font-size: 10em !important;
			padding: 1em;
		}
	}
}
