body {
  background: #fff;
	font-family: "proxima-nova-soft" !important;
  a {
		text-decoration: underline !important;
	}
}

@media print {
  h1, .waar, #feedback, #vorige-volgende {
    display: none !important;
  }
}

ul.horizontaal {
  margin: 0;
  padding: 0;
  text-indent: 0;
  li {
    margin: 0; padding: 0;
    display: inline-block;
    vertical-align: middle;
    height: 3.5em;
  }
}

.infografiek-alternatief {
  width: 600px;
  background: #eee;
  padding: 1em;
  caption {
    font-weight: normal;
  }
  details {
    background: #fff;
    summary {
      text-decoration: underline;
      color: blue;
    }
    ul {
      margin-top: .75em;
      font-weight: normal;
      font-size: 80%;
    }
    border: 1px solid #ddd;
    padding: .5em 1em;
    margin: 0 0 1em 0;
  }
  caption {
    text-align: left;
    width: 600px;
  }
  thead {
    width: 100%;
  }
}

/* Fix voor voorbeeldjes over focus */
nav:focus {
  outline: none;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}

th {
	text-align: left !important;
}

nav#filters {
  border: 1px solid gray;
  padding: 1em;
}

li a {
  text-decoration: underline !important;
  &:hover, &:active {
    text-decoration: none !important;
  }
}

#vorige-volgende {
	ul {
		display: block;
		height: 8em;
		position: relative;
		margin: 0; padding: 0;
		list-style: none;
		background: #444;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		li {
			height: 8em;
			display: block;
			padding: 1.5em;
			a {
				color: white;
				display: block;
				text-decoration: none !important;
				span:nth-child(1) {
					font-size: 130%;
					display: block;
					text-decoration: underline;
				}
				span:nth-child(2) {
					display: block;
					font-size: 90%;
				}
			}
			&.vorige {
				width: 45%;
				text-align: left;
				position: absolute;
				top: 0; left: 0;
			}
			&.volgende {
				width: 35%;
				text-align: right;
				position: absolute;
				top: 0; right: 0;
			}
		}
	}
}

nav#filters {
  display: none;
  background: gray;
  color: white;
  border: 2px dotted #aaa;
  padding: 1.5em 2em 1.25em 2em;
  margin: 0 0 2em 0;
  box-shadow: 0 0 25px #eee;
  input[type=checkbox] {
    display: inline-block;
    margin: 1em 0.25em 0 0;
  }
  label {
    display: block;
  }
}

/*  Richtlijn detail */

p.waar {
  border: 1px solid #aaa;
  padding: .5em 1em;
  background: #eee;
}


/*  Verschillende statuusen */

#richtlijnen {
  ol { counter-reset: item; padding-left: 10px; }
  li { display: block }
  li:before { content: counters(item, ".") ". "; counter-increment: item; }
  ol.categorie > li:before, ol.subcategorie > li:before { content: "" }
}

// ol.categorie {
//   background: red;
// }
//
// .no-count {
//   display: none;
// }

//
// #categorie {
//   ol { counter-reset: item; padding-left: 10px; }
//   li { display: block }
//   &.inhoud {
//     li li:before { content: "1." counters(item, ".") ". "; counter-increment: item }
//   }
//   &.vormgeving {
//     li li:before { content: "2." counters(item, ".") ". "; counter-increment: item }
//   }
//   &.navigatie-en-interactie {
//     li li:before { content: "3." counters(item, ".") ". "; counter-increment: item }
//   }
//   &.onder-de-motorkap {
//     li li:before { content: "4." counters(item, ".") ". "; counter-increment: item }
//   }
// }

h2:first-of-type + p {
	border: 1px dashed black !important;
	background: #eee;
	padding: 1em;
}

#richtlijnen li {
  h1, h2, h3 {
    display: inline-block !important;
  }
}

h1 {
	display: block;
	border-bottom: 5px solid black !important;
}

#richtlijnen h2 {
	background: gray;
	color: white;
	padding: .25em .75em;
	margin: 2em 0 0 0;
}

#richtlijnen li {
  &.aan {
    font-weight: bold;
  }
  &.uit {
    opacity: 0.5;
  }
  &.uitzondering {
    // background: red;
  }
}


form {
	input[type=text], textarea {
		padding: .25em;
	}
	fieldset {
		border: none;
		padding: 0;
		margin: 0 0 1.35em 0;
		legend {
			padding: 0;
			font-weight: bold;
			font-size: 1.15em;
			margin: 0 0 .35em 0;
		}
	}
	.block {
		display: block;
		margin: 0 0 .5em 0;
		&.small {
			font-size: 90%;
			margin: 0;
		}
	}
	.inline {
		display: inline-block; margin: 0 1em 0 0;
	}
	.verzenden {
		display: inline;
		margin: 0 0 0 1em;
		font-size: 80%;
	}
	&#feedback {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		margin: 2em 0 0 0;
		background: #eee;
		padding: 1.5em;
		h3 {
			margin: 0 0 .5em 0;
			padding: 0;
		}
		input[type=submit] {
			font-size: 10em !important;
			padding: 1em;
		}
	}
}
