nav#filters {
  border: 1px solid gray;
  padding: 1em; }

li a {
  text-decoration: underline !important; }
  li a:hover, li a:active {
    text-decoration: none !important; }

#filters {
  border: 2px dotted #aaa;
  padding: .25em 2em 1.25em 2em;
  margin: 0 0 2em 0;
  box-shadow: 0 0 25px #eee; }
  #filters input[type=checkbox] {
    display: inline-block;
    padding: 0 1em 0 0; }
  #filters label {
    display: block; }

#richtlijnen section {
  border: 1px dotted #aaa;
  padding: .25em 2em 1.25em 2em;
  margin: 0 0 2em 0;
  box-shadow: 0 0 25px #eee;
  background: white; }
  #richtlijnen section ul {
    counter-reset: item;
    list-style-type: decimal;
    text-indent: 0;
    margin-left: 0;
    padding-left: 1em; }
  #richtlijnen section ul li {
    list-style: none; }
  #richtlijnen section ul li:before {
    content: "1.1." counter(item,decimal) ". ";
    counter-increment: item; }
