%ol

  %li#c1-2-1.aan
    %a(href='/inhoud/afbeeldingen/belangrijke-afbeeldingen/')
      Belangrijke afbeeldingen hebben een alt-attribuut met een kernachtige beschrijving voor wie ze niet kan zien.

  %li#c1-2-2.aan
    %a(href='/inhoud/afbeeldingen/diagrammen-infografieken/')
      Diagrammen en (info)grafieken zijn uitvoerig beschreven op de pagina zelf of op een bijbehorende pagina.

  %li#c1-2-3.aan
    %a(href='/inhoud/afbeeldingen/decoratieve-afbeeldingen/')
      Decoratieve afbeeldingen ziijn gedefinieerd in een stijlblad of zijn als decorafief gemarkeerd (in het CMS of in de broncode).

  %li#c1-2-4.aan.uitzondering
    %a(href='/inhoud/afbeeldingen/aanklikbare-afbeeldingen/')
      Als een afbeelding aanklikbaar is, zijn ook alle ijkpunten over linkteksten toegepast.

  %li#c1-2-5.aan.uitzondering
    %a(href='/inhoud/afbeeldingen/afbeeldingen-van-tekst/')
      Afbeeldingen van tekst komen nergens voor.
