%ol

  %li#c1-1-1.aan.owner
    %a(href='/inhoud/basisregels/paginatitels/')
      Tabelhoofdingen en bijschriften zijn gemarkeerd met de daarvoor bedoelde HTML-tags.

  %li#c1-1-1.aan.frontend.editor
    %a(href='/inhoud/basisregels/koppenstructuur/')
      HTML-tabellen zijn lineariseerbaar en dus begrijpelijk als de cellen één per één voorgelezen worden.

  %li#c1-1-1.aan.container.nogiets.enzovoort
    %a(href='/inhoud/basisregels/html-tags/')
      HTML-tabellen worden enkel gebruikt om data te structureren. Niet om tekstkolommen, formulieren of volledige pagina’s op te maken.

  %li#c1-1-1.aan.container.nogiets.enzovoort
    %a(href='/inhoud/basisregels/linkteksten/')
      Voor infografieken zijn de ijkpunten over diagrammen en infografieken toegepast.
    %a(href='/inhoud/basisregels/linkteksten/')