%ol

  %li#c1-1-1.aan.owner
    %a(href='/vormgeving/tekst-en-paginaopmaak/broodtekst/')
      Artikeltekst is nooit kleiner dan 14 pixels

  %li#c1-1-1.aan.frontend.editor
    %a(href='/vormgeving/tekst-en-paginaopmaak/kleine-tekst/')
      Tekst is nergens kleiner dan 12 pixels

  %li#c1-1-1.aan.container.nogiets.enzovoort
    %a(href='/vormgeving/tekst-en-paginaopmaak/overlappingen/')
      Tekst en afbeeldingen overlappen niet op kleine schermen of als een bezoeker de tekengrootte aanpast

  /= %li#c1-1-1.aan.container.nogiets.enzovoort
  /=  %a(href='/vormgeving/tekst-en-paginaopmaak/schermbreedtes/')
  /=    Op een klein scherm worden onderdelen niet selectief verborgen
