%ol

  %li#c1-1-1.aan.owner
    %a(href='/inhoud/basisregels/paginatitels/')
      De broodtekst van artikels is nooit kleiner dan 14 pixels

  %li#c1-1-1.aan.frontend.editor
    %a(href='/inhoud/basisregels/koppenstructuur/')
      Tekst worrdt nergens kleiner dan 12 pixels weergegeven

  %li#c1-1-1.aan.container.nogiets.enzovoort
    %a(href='/inhoud/basisregels/html-tags/')
      Tekst en afbeeldingen overlappen niet op kleine schermen of als een bezoeker de tekengrotte zelf aanpast

  %li#c1-1-1.aan.container.nogiets.enzovoort
    %a(href='/inhoud/basisregels/linkteksten/')
      Als de website bekeken wordt op een klein scherm, worden onderdelen niet selectief verborgen
