%ol

  %li#c1-2-1.aan
    %a(href='/vormgeving/kleuren-en-contrasten/contrastverhoudingen/')
      Tekst, knoppen en iconen contrasteren voldoende met de achtergrondkleur- of afbeelding

  %li#c1-2-2.aan
    %a(href='/vormgeving/kleuren-en-contrasten/kleuren-met-een-functie/')
      Vertrouw nooit uitsluitend op kleuren of vormen om iets duidelijk te maken
