%ol

  %li#c1-2-1.aan
    %a(href='/inhoud/afbeeldingen/belangrijke-afbeeldingen/')
      Tekst, knoppen en iconen contrasteren voldoende met de achtergrondkleur- of afbeelding

  %li#c1-2-2.aan
    %a(href='/inhoud/afbeeldingen/diagrammen-infografieken/')
      Vertrouw nooit enkel op kleuren om iets duidelijk te maken, maar gebruik ze ondersteunend
