%ol

  %li#c1-2-1.aan
    %a(href='/inhoud/afbeeldingen/belangrijke-afbeeldingen/')
      Tekst, knoppen en iconen contrasteren voldoende met de achtergrondkleur- of afbeelding.

  %li#c1-2-2.aan
    %a(href='/inhoud/afbeeldingen/diagrammen-infografieken/')
      Vertrouw nooit uitsluitend op kleuren om iets duidelijk te maken. Gebruik ze enkel ondersteunend.

  %li#c1-2-3.aan
    %a(href='/inhoud/afbeeldingen/decoratieve-afbeeldingen/')
      Decoratieve afbeeldingen ziijn gedefinieerd in een stijlblad of zijn als decorafief gemarkeerd (in het CMS of in de broncode).

  %li#c1-2-4.aan.uitzondering
    %a(href='/inhoud/afbeeldingen/aanklikbare-afbeeldingen/')
      Als een afbeelding aanklikbaar is, zijn ook alle ijkpunten over linkteksten toegepast.

  %li#c1-2-5.aan.uitzondering
    %a(href='/inhoud/afbeeldingen/afbeeldingen-van-tekst/')
      Afbeeldingen van tekst komen nergens voor.
