%ol

  %li#c1-1-1.aan.owner
    %a(href='/inhoud/basisregels/paginatitels/')
      Tekst en afbeeldingen knipperen niet meer dan drie keer per seconde

  %li#c1-1-1.aan.frontend.editor
    %a(href='/inhoud/basisregels/koppenstructuur/')
      Animaties die langer dan vijf seconden duren, kunnen gestopt of verborgen worden
