%ol

  %li#c2-3-1.aan
    %a(href='/vormgeving/timing-en-beweging/flitsen')
      Tekst en afbeeldingen flitsen niet meer dan drie keer per seconde

  %li#c2-3-2.aan
    %a(href='/vormgeving/timing-en-beweging/animaties')
      Animaties die langer dan vijf seconden duren, kunnen gestopt of verborgen worden
