%ol

  %li#c1-1-1.aan.frontend.editor
    %a(href='/navigatie-en-interactie/basisregels/alles-bereikbaar/')
      Alle onderdelen zijn ook zonder muis bereikbaar en activeerbaar

  %li#c1-1-1.aan.container.nogiets.enzovoort
    %a(href='/navigatie-en-interactie/basisregels/logische-tabvolgorde/')
      De tab-volgorde is logisch en voorspelbaar

  %li#c1-1-1.aan.frontend.editor
    %a(href='/navigatie-en-interactie/basisregels/zichtbare-focus/')
      Als een pagina-onderdeel tijdens het tabben focus krijgt – en dus activeerbaar wordt – is dat duidelijk zicthbaar
