%ol

  %li#c1-1-1.aan.owner
    %a(href='/inhoud/basisregels/paginatitels/')
      Links en knoppen zijn visueel meteen herkenbaar

  %li#c1-1-1.aan.frontend.editor
    %a(href='/inhoud/basisregels/koppenstructuur/')
      Links en knoppen zijn ook zonder muis bereikbaar en activeerbaar

  %li#c1-1-1.aan.container.nogiets.enzovoort
    %a(href='/inhoud/basisregels/html-tags/')
      Opschriften van knoppen zijn helder en informatief

  %li#c1-1-1.aan.frontend.editor
    %a(href='/inhoud/basisregels/koppenstructuur/')
      Klikgebieden op desktop- en laptopcomputers zijn minstens 10 punten breed en hoog

  %li#c1-1-1.aan.frontend.editor
    %a(href='/inhoud/basisregels/koppenstructuur/')
      Aanraakgebieden op tablets en smartphones zijn minstens 7 mm breed en hoog en de onderlinge afstand bedraagt minstens 5 mm
