%ol

  %li#c1-1-1.aan
    %a(href='...')
      Ieder invoerveld heeft een zichtbaar label

  %li#c1-1-1.aan
    %a(href='...')
      Labels hebben een ìd-attribuut dat overeenstemt met het for-attribuut van het formulierveld

  %li#c1-1-1.aan
    %a(href='...')
      Als een veld verplicht ingevuld moet worden, is dat binnen het label zelf vermeld

  %li#c1-1-1.aan
    %a(href='...')
      Datumkiezers (kalenders) zijn optioneel; wie dat verkiest, kan een datum ook invullen volgens een voorgeschreven notatie (zoals dd/mm/jj)

  %li#c1-1-1.aan
    %a(href='...')
      Elk formulier heeft een zicthbare verzendknop. Op de verzendknop zijn ook de ijkpunten over links en knoppen van toepassing. 

  %li#c1-1-1.aan
    %a(href='...')
      Als een formulier succesvol verstuurd werd, krijgt de bezoeker een heldere bevestigingspagina te zien.

  %li#c1-1-1.aan
    %a(href='...')
      Als een formulier niet succesvol verstuurd werd, wordt bovenaan de pagina een heldere samenvatting getoond met ontbrekende en fout ingevoerde gegevens.
   
  %li#c1-1-1.aan
    %a(href='...')
      Als een formulier niet succesvol werd verstuurd, worden ontbrekende en fout ingevoerde gegevens duidelijk visueel gemarkeerd met een icoon of een tekstlabel.

  %li#c1-1-1.aan
    %a(href='...')
      Als een formulier niet succesvol werd verstuurd, kan een gebruiker de ontbrekende gegevens aanvullen of verbeteren en onthoudt het formulier wat wel juist ingevuld of aangekruist werd.
      