%ol

  %li#c1-1-1.aan
    %a(href='...')
      De inhoud of de status van een pagina-onderdeel gebeurt enkel na een expliciete gebruikersactie.

  %li#c1-1-1.aan
    %a(href='...')
      Temp

  %li#c1-1-1.aan
    %a(href='...')
      Temp

  %li#c1-1-1.aan
    %a(href='...')
      Temp

  %li#c1-1-1.aan
    %a(href='...')
      Temp

  %li#c1-1-1.aan
    %a(href='...')
      Temp
