%ol

  %li#c1-1-1.aan
    %a(href='...')
      In de broncode is de HTML-specificatie aangegeven met behulp van een geldig DOCTYPE.

  %li#c1-1-1.aan
    %a(href='...')
      De natuurlijke taal van de inhoud (veelal Nederlands) wordt aangegeven met behulp van het `lang`-attribuut.

  %li#c1-1-1.aan
    %a(href='...')
      De broncode bevat enkel elementen en attributen die onderdeel uitmaken van de gebruikte HTML-specificatie (zoals aangegeven in het DOCTYPE).

  %li#c1-1-1.aan
    %a(href='...')
      Da bouwstenen van iedere pagina zijn gemarkeerd met een ARIA Landmark.

  %li#c1-1-1.aan
    %a(href='...')
      Alle basisrichtlijnen over het correct gebruik van HTML en CSS (in Inhoud, Vormgeving en Navigatie en Interactie) zijn gerespecteerd.
