%ol

  %li#c4-1-1.aan
    %a(href='/onder-de-motorkap/markup/doctype')
      In de broncode is de HTML-specificatie aangegeven met behulp van een geldig DOCTYPE

  %li#c4-1-2.aan
    %a(href='/onder-de-motorkap/markup/taal')
      De natuurlijke taal van de inhoud (veelal Nederlands) wordt aangegeven met het lang-attribuut

  %li#c4-1-3.aan
    %a(href='/onder-de-motorkap/markup/spec')
      De broncode bevat enkel elementen en attributen die onderdeel uitmaken van de gebruikte HTML-specificatie (zoals aangegeven in het DOCTYPE)

  %li#c4-1-4.aan
    %a(href='/onder-de-motorkap/markup/aria')
      Da bouwstenen van iedere pagina zijn gemarkeerd met een ARIA Landmark

  %li#c4-1-5.aan
    %a(href='/onder-de-motorkap/markup/basisregels')
      Ook alle basisrichtlijnen over het correct gebruik van HTML en CSS zijn gerespecteerd
