%ol

  %li#c1-1-1.aan
    %a(href='...')
      Frames worden niet gebruikt.

  %li#c1-1-1.aan
    %a(href='...')
      iFrames worden enkel gebruikt voor integraties van derde partijen en wanneer een alternatief niet beschikbaar is.

  %li#c1-1-1.aan
    %a(href='...')
      Als iFrames gebruikt worden, zijn ze voorzien van een beschrijvend title- en name-attribuut.
