%ol

  %li#c1-1-1.aan
    %a(href='/onder-de-motorkap/plug-ins/geen-plugins')
      Browser-plug-in's (zoals Flash) worden niet gebruikt, tenzij voor het afspelen van video met DRM en op voorwaarde dat er geen gelijkwaardige of betere oplossing bestaat
